*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body{
  background-color: #FFF5FD;
}  
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
header{
  font-size: 25px;
  background-color: #022E57;
  color:#FFF5FD;
  width:100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.restart{
  display: none;
}

.back{
  display: none;
}

form{
  /* position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%; */
  min-width: 250px;
  padding: 15px;
  margin-top: 80px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #005A8D;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* transform: translate(-50%, -50%) scale(0); */
  transition: 200ms ease-in-out;
  opacity: 0;
} 

form > input{
  margin-bottom: 15px;
  padding:5px;
}
form > input[type="submit"]{
  margin:0;
  cursor: pointer;
}

.game-type{
  display: flex;
  justify-content: space-around;
  margin: 80px 0 10px 0;
}

.game-type button{
  display: inline-block;
  width:90px;
  text-align: center;
  padding: 8px;
  margin:0 10px;
  background-color: #FF96AD;
  color:#FFF5FD;
  border:1px solid #FF96AD;
}

.container{ 
  display: none;
  width:430px;
  height:430px;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  margin:10px auto; 
}


.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin:7px;
    border-radius: 10px;
    border: 1px solid black;
}

.result{
  display: none;
  margin-top:70px;
}

.endgame{
  display: flex;
  justify-content: space-evenly;
}

.endgame button{
  margin: 0 10px;
  padding: 5px;
  background-color: #005A8D;
  color:#FFF5FD;
  border:1px solid #005A8D;
}

/* .overlay{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
} */
